section, div {
  border: 1px solid;
  border-color: #5a5a5a;
}

section{
  margin: 2rem auto;
  width: 50%;
}

div{
  height: 100px;
  width: 100px;
}

#yellow{
  background-color: yellow;
}

#blue{
  background-color: blue;
}

#red{
  background-color: red;
}
